---
#########################################################
## Kafka UI install action                             ##
#########################################################

#########################################################
## Pre-installation uninstall                          ##
#########################################################

# Run uninstall if uninstall is set
- name: Run uninstall playbook if set
  ansible.builtin.include_tasks: uninstall.yml
  when: kafka_ui_container_uninstall | default(false)

#########################################################
## Installation on podman                              ##
#########################################################

- name: Install {{ kafka_ui_container_name }} container on Podman...
  when: kafka_ui_container_platform == "podman"
  block:

    # Gather installed packages
    - name: Gather installed packages
      ansible.builtin.package_facts:
        manager: auto

    # Check if podman is detected
    - name: Check if podman is detected
      ansible.builtin.assert:
        that: '"podman" in ansible_facts.packages'
        fail_msg: "Podman is not installed. Please install Podman first. Cannot continue..."

    #####################################################
    ## Volume configuration                            ##
    #####################################################

    # Create volumes
    - name: Create configuration folders...
      ansible.builtin.include_role:
        name: podman
      vars:
        action_type: create_volumes
        container_volumes: "{{ kafka_ui_container_volumes }}"
        volume_mode: "{{ kafka_ui_container_volume_mode | default('0777') }}"

    #####################################################
    ## Firewall configuration                          ##
    #####################################################

    # Open firewall ports
    - name: Open firewall ports...
      become: true
      ansible.posix.firewalld:
        port: "{{ (item.split(':')[0]) }}/tcp"
        permanent: true
        state: enabled
        immediate: true
      loop: "{{ kafka_ui_container_ports | default([]) }}"

    #####################################################
    ## Import container                                ##
    #####################################################

    # Import container
    - name: "Install {{ kafka_ui_container_name }} container on podman"
      ansible.builtin.include_role:
        name: podman
      vars:
        action_type: import_container
        container_name: "{{ kafka_ui_container_name }}"
        container_repository_url: "{{ kafka_ui_container_repository_url }}"
        container_repository_tag: "{{ kafka_ui_container_repository_tag | default(omit) }}"
        container_repository_checksum: "{{ kafka_ui_container_repository_checksum | default(omit) }}"
        container_repository_checksum_algorithm: "{{ kafka_ui_container_repository_checksum_algorithm | default(omit) }}"
        container_ports: "{{ kafka_ui_container_ports | default(omit) }}"
        container_volumes: "{{ kafka_ui_container_volumes | default(omit) }}"
        container_volumes_mode: "{{ kafka_ui_container_volume_mode | default(omit) }}"
        container_command: "{{ kafka_ui_container_command | default(omit) }}"
        container_security_opt: "{{ kafka_ui_container_security_opt | default(omit) }}"        
        container_env: "{{ kafka_ui_container_env | default({}) }}"
        container_privileged: "{{ kafka_ui_container_privileged | default(omit) }}"
        container_cap_add: "{{ kafka_ui_container_cap_add | default(omit) }}"
        container_cap_drop: "{{ kafka_ui_container_cap_drop | default(omit) }}"
        container_user: "{{ kafka_ui_container_user | default(omit) }}"
        container_healthcheck: "{{ kafka_ui_container_healthcheck | default(omit) }}"
        container_healthcheck_fail: "{{ kafka_ui_container_healthcheck_fail | default('none') }}"
        container_healthcheck_retries: "{{ kafka_ui_container_healthcheck_retries | default(omit) }}"
        container_healthcheck_interval: "{{ kafka_ui_container_healthcheck_interval | default(omit) }}"
        container_healthcheck_timeout: "{{ kafka_ui_container_healthcheck_timeout | default(omit) }}"
        container_healthcheck_start: "{{ kafka_ui_container_healthcheck_start | default(omit) }}"

#########################################################
## Configuration                                       ##
#########################################################

# Configure application
- name: Start configure task...
  ansible.builtin.include_tasks: configure.yml

#########################################################
## Post-install                                        ##
#########################################################

# Unset variables
#- name: Unset variables...
#  ansible.builtin.set_fact:
