---
############################################################
## Main module for Kafka UI Ansible role                  ##
############################################################

# If action variable is not defined, gather status of the service and set action variable  
- name: Gather action variable status...
  ansible.builtin.include_tasks: set_action_type.yml
  when: action_type is not defined

# Show message
- name: Show action message
  ansible.builtin.debug:
    msg: "Starting role {{ role_name }}... action: {{ action_type }}."

# Assert that action is in actions
- name: "Verify valid action ({{ action_type }})..."
  ansible.builtin.assert:
    that:
      - action_type in (actions | map('dict2items') | map('first') | map(attribute='key') | list)
    fail_msg: "The action '{{ action_type }}' is not in the list of valid actions..."
    quiet: true

# TODO: Send message to Kafka bus
- name: Publish message to Kafka bus...
  ansible.builtin.debug:
    msg: "TODO: Publish message to Kafka bus..."
  when: kafka_bootstrap_servers is defined

# -------------------------------------------------------
- name: Start install action...
  ansible.builtin.include_tasks: install.yml
  when: action_type == "install"

- name: Start uninstall action...
  ansible.builtin.include_tasks: uninstall.yml
  when: action_type == "uninstall"

- name: Start update action...
  ansible.builtin.include_tasks: update.yml
  when: action_type == "update"

- name: Start start action...
  ansible.builtin.include_tasks: start.yml
  when: action_type == "start"

- name: Start stop action...
  ansible.builtin.include_tasks: stop.yml
  when: action_type == "stop"

# -------------------------------------------------------
